body {
    background-color: #9dc8d5;
    color: rgb(50, 97, 137);
    font-family: Arial, sans-serif;
    padding: 20px;
    text-align: center;
}

#searcher {
    display: block;
    margin: 20px auto;
    padding: 10px;
    width: 300px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
}
